<div class="container">
        <div id="date-container">
            <div class="row">
                <div class="col-sm-6">
                    Start Date 1:
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-start1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-start1"/>
                            <div class="input-group-append" data-target="#datetimepicker-start1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    End Date 1:
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-end1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-end1"/>
                            <div class="input-group-append" data-target="#datetimepicker-end1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="add-date-btn" class="btn btn-success form-control">Add Date!</div>
        </div>
        <div class="col-sm-6">
            <div id="finish-btn" class="btn btn-info form-control">Finish!</div>
        </div>
    </div>
</div>