<!--Footer-->
<footer class="page-footer font-small special-color pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-center">
        <div class="row">

            <!--First column-->
            <div class="logo-text col-sm-1 offset-sm-3">
                <img src="/assets/img/clock.png" alt="">
            </div>
            <div class="col-sm-4">
                <h1>Local Time</h1>
            </div>
            <!--/.First column-->

        </div>

        <div class="row">
            <div class="team-container col-sm-8 offset-sm-2">
                <br>
                <h5 class="text">Our Team</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/addiscasco" target="_blank">Addis</a>
                    </li>
                    <li>
                        <a href="https://github.com/theconnorthomas" target="_blank">Connor</a>
                    </li>
                    <li>
                        <a href="https://github.com/sneha3103" target="_blank">Sneha</a>
                    </li>
                    <li>
                        <a href="https://github.com/Rovch" target="_blank">Wes</a>
                    </li>
                    <li>
                        <a href="https://github.com/wabernathy96" target="_blank">Will</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>

    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href=> DJCAT </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->