<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <a class="navbar-brand" href="#">
        <strong>Local Time</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item">
                <a href="#profile" data-toggle="modal" data-target="#profile">Edit Profile</a>
            </li>
            <li>
                <form action="/logout" method="GET" name="logout" id="logoutlink" type="submit" for="logout">
                    <a href="/">Logout</a>
                </form>
            </li>
        </ul>

    </div>



</nav>