<h1>User Cards</h1>
<% for(let i = 0; i < user.length; i+=8) { %>
  <div class="col">
      <div class="card card-cascade wider">

          <!-- Card image -->
          <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
              <a href="#!">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>

          <!-- Card content -->
          <div class="card-body text-center">

              <!-- Title -->
              <h4 class="card-title">
                  <strong><%= user[i].dataValues.firstname %></strong>
              </h4>



              <!-- Linkedin -->
              <a class="px-2 fa-lg li-ic">
                  <i class="fa fa-linkedin"></i>
              </a>
              <!-- Twitter -->
              <a class="px-2 fa-lg tw-ic">
                  <i class="fa fa-twitter"></i>
              </a>
              <!-- Dribbble -->
              <a class="px-2 fa-lg fb-ic">
                  <i class="fa fa-facebook"></i>
              </a>

          </div>

      </div>
  </div>
  <% } %>