body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
} */
/* SLIDER CODE AND ABOUT US CODE BEGINS*/
*{
  margin: 0;
  padding: 0;
}
/* body {
  background-color: #d67373;
} */

.load {
  animation: slide 2s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 40s infinite;
}

.content {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.principal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}

.principal h1{
  font-size: 70px;
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
}

.principal p {
  font-size: 20px;
}

@keyframes slide {
  0% {
      background-image: url("../assets/img/travel1.jpg");
  }
  20% {
      background-image: url("../assets/img/travel1.jpg");
  }

  20.01% {
      background-image: url("../assets/img/travel2.jpg");
  }
  40% {
      background-image: url("../assets/img/travel2.jpg");
  }
  40.01% {
      background-image: url("../assets/img/travel3.jpg");
  }
  60% {
      background-image: url("../assets/img/travel3.jpg");
  }
  60.01% {
      background-image: url("../assets/img/travel4.jpg");
  }
  80% {
      background-image: url("../assets/img/travel4.jpg");
  }
  80.01% {
      background-image: url("../assets/img/travel5.jpg");
  }
  100% {
      background-image: url("../assets/img/travel5.jpg");
  }

}

.input-group.md-form.form-sm.form-2 input.amber-border  {
  border: 1px solid #ffca28;
}

#fontcolor {
  color: #fdfdfd;
}

#loginModal {
  padding: 10px;
  
  position: relative;
}


/* SLIDER CODE AND ABOUT US CODE ENDS*/

.my-5 {
  margin-bottom: 7rem!important;
}

/*REVIEWS AND TESTIMONIALS */

.reviews{
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.testimonials{
  margin-top: 120px;
  background-image: url("../assets/img/background5.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(15, 1, 1);
  background-attachment: fixed; /*allows the image to scroll */
  color: #fff;
}

.testimonials cite img{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 margin-right: 10px;
}

.testimonials p {
  line-height: 25px;
  text-align: justify;
  color: #fff;
}

/*REVIEWS AND TESTIMONIALS ENDS */

/*Google Button */

#googleLogo {
  position: relative;
  left: 10px;
}


/*------------------------------Current Trips-----------------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.view-trips{
  margin: 25px 10px 0 0;
  padding: 25px 10px 5px 0;
  text-align: left;
}

.info-left#firstImg{
  width: 100%;
  height: auto;
  padding: 0 0 0 15px;
  margin: 20px 0 0 30px;
  border-radius: .2em;
  box-sizing: border-box; /*Width and height apply to all parts of the element: content, padding and borders*/
   object-fit:cover; /*it will cut off the sides of the image, preserving the aspect ratio, and also filling in the space*/
  object-position: left;
  position: absolute;
} 

/* Container needed to position the button. Adjust the width as needed */
/* .container {
  position: relative;
  width: 50%;
} */
 
/* Make the image responsive */
 .container #firstImg {
  width: 100%;
  height: 50%;
} 

/* Style the button and place it in the middle of the container/image */
 .container #exploreBtn {
  position: absolute;
  bottom: 8%;
  right: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff !important;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container #exploreBtn:hover {
  background-color: #fff;
} 

.textImage span{
  width: 55%;
  word-wrap: break-word !important;
  position: absolute;
  bottom: 20%;
  right: 0%;
  color: #fff;
} 

.modal-body #tripInfo{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#testimonial{
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;

}

#testimonial p{
  font-size: 28px;
  font-family: "Josefin Sans";
  color: #000;
}

/*---------------------------End Current Trips-----------------------------------*/
/*------------------------------Planner-----------------------------------*/

#plan-landing {
  background: url("/assets/img/aerial-aerial-view-aeroplane-59519.jpg")no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
#view-landing {
  background: url("/assets/img/backpack.jpg")no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}
.navbar {
  z-index: 1;
  font-family: 'Pacifico', cursive;
}
.navbar {
  background-color: transparent;
}

/* nav ul {
  margin-left: 90%;
} */

.top-nav-collapse {
  background-color: #ffa726;
}

.navbar-collapse {
  font-size: 1.5em;
    color: white;
    margin-left: 85%;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #ffa726;
  }
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

.trip-items {
  margin-top: 15em;
}

.md-form {
  width: 295px;
  margin: 0 auto 0 auto;  
}

.md-form label{
  color: #ffffff;
}

.md-form :active{
  width: 295px;
  margin: 0 auto 0 auto;  
}

.md-form input[type=text]{
  border-bottom: 1px solid #ffffff;
}

.logo-text img{
  width: 65px;
  height: 65px;
  margin-left: 165px;
}

.logo-text {
  display: inline-block;
}

h5 {
  font-size: 1.5em;
  font-weight: 200;
}

.team-container {
  font-size: 2em;
}

footer ul {
  display: inline-flex;
}

footer li {
  margin: 10px;
}

footer h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  margin-left: 70px;
}

.contact-btn {
  margin-bottom: 2em;
}

footer hr {
  border-top: 1px solid white;
}

a {
  color: #ffa726;
}

a:hover {
  color: #f57c00;
}

header ul {
  float: right;
}

#view-landing hr {
  border-top: 1px solid white;
}

.mt-4, .my-4 {
  margin-top: 0rem!important;
}