<h1> USER DASHBOARD </h1>

<header class="header">
    <div class="row">
        <div class="col-md-12">
            <form action="/logout" method="GET">
                <button type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>
</header>

<main class="main">
    <div class="row">
        <div class="col-md-12">
            <form action="/planner" method="GET">
                <button type="submit">
                    Create New Planner
                </button>
            </form>
        </div>
    </div>
</main>
    