<!-- views/home.ejs -->


<%- contentFor("hero") %>


<div class="slider">
        <div class="load">
        </div>
        <div class="content">
            <div class="principal">
                <h1 class="animated rollIn">Local Time</h1>
                <p>Lorem ipsum lorem ipsum Lorem ipsum</p>

                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search" id="fontcolor">
                    <div class="input-group-append">
                        <span class="input-group-text amber lighten-3" id="basic-text1">
                            <i class="fa fa-search text-grey"  aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="text-center">
                        <a href="" class="btn btn-warning btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm" id="loginModal"> LogIn/Register</a>
                </div>
            </div>
        </div>
    </div>
  