
<head>
    <% include ../partials/head %>
        <title>Local Time</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#">
                <strong>Local Time</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-lg-0">
                    <!-- <li class="nav-item">
                        <div class="text-center">
                            <a href="" data-toggle="modal" data-target="#modalLRForm" id="loginModal"> LogIn/Register</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>
    </header>

    <div class="slider">
        <div class="load">
        </div>
        <div class="content">
            <div class="principal">
                <h1 class="animated fadeInUp">Local Time</h1>
                <p class="animated fadeInUp">LIVE.LIFE.LOCALLY.</p>

                <div class="text-center animated fadeInUp">
                    <a href="" class="btn btn-warning btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm" id="loginModal"> LogIn/Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">

            <div class="modal-content">

                <div class="modal-c-tabs">
          
                    <ul class="nav nav-tabs tabs-2 orange lighten-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
                                <i class="fa fa-user mr-1"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                                <i class="fa fa-user-plus mr-1"></i> Register</a>
                        </li>
                    </ul>
     
                    <div class="tab-content">
               
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                            <form action="/login" method="POST">
               
                                <div class="modal-body mb-1">
                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="email" name="email" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="email">Your email</label>
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="password" name="password" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="password">Your password</label>
                                    </div>
                                    <div class="text-center mt-2">
                                        <button class="btn btn-warning" type="submit">Log in
                                            <i class="fa fa-sign-in ml-1"></i>
                                        </button>
                            </form>
                            </div>
                            </div>
                            </form>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <!-- <a href="/auth/google">
                                        <button type="button" class="btn btn-outline-warning waves-effect ml-auto">Login with Google
                                            <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                                                id="googleLogo" />
                                        </button>
                                    </a> -->
                                  
                                </div>
                                <button type="button" class="btn btn-outline-warning waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                        
                        <div class="tab-pane fade" id="panel8" role="tabpanel">
                            
                            <form action="/signup" id="signup" name="signup" method="post">
                                <div class="modal-body">
                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-user prefix"></i>
                                        <input type="text" id="firstName" name="firstName" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="firstName">First Name</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-user prefix"></i>
                                        <input type="text" id="lastName" name="lastName" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="lastName">Last Name</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="email" name="email" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="email">Your email</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="password" name="password" class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="password">Your password</label>
                                    </div>

                                    <div class="text-center form-sm mt-2">
                                        <button class="btn btn-warning" type="submit">Sign up
                                            <i class="fa fa-sign-in ml-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="modal-footer">
                                <!-- <a href="/auth/google">
                                    <button type="button" class="btn btn-outline-warning waves-effect ml-auto">Login with Google
                                        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                                            id="googleLogo" />
                                    </button>
                                </a> -->
                                <button type="button" class="btn btn-outline-warning waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>
        
        </div>
    </div>
  
    <section class="text-center my-5">

        <h2 class="h1-responsive font-weight-bold my-5">EXPERIENCE YOUR BEST LOCAL LIFE</h2>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-calendar fa-3x red-text"></i>
                <h5 class="font-weight-bold my-4">STEP 1</h5>
                <p class="black-text mb-md-0 mb-5">Select the dates for your trip!
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-user-plus fa-3x cyan-text"></i>
                <h5 class="font-weight-bold my-4">STEP 2</h5>
                <p class="black-text mb-md-0 mb-5">Find your friends who are available during the same dates you are!
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-plane fa-3x orange-text"></i>
                <h5 class="font-weight-bold my-4">STEP 3</h5>
                <p class="black-text mb-0">Build your perfect itinerary for your trip!
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>

    <div class="view">

        <section class="testimonials">
            <h2 class="reviews animated fadeInLeft">REVIEWS</h2>
           
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur labore suscipit...
                        </p>
                        <cite>
                            <img src="assets/img/ianpic.jpeg" width="200px" height="200px"> Ian Mitchell
                        </cite>

                    </div>

                    <div class="col-md-4">

                        <p>The lack of a good way to plan last minute group trips had me salty. But thanks to Local Time I am now less salty!
                        </p>
                        <cite>
                            <img src="assets/img/Campic.jpeg" width="200px" height="200px">Cam Kirk
                        </cite>

                    </div>

                    <div class="col-md-4">

                        <p>Love this app! It's a life saver. Also I, Brandon Gatlin, definitely wrote this review.
                        </p>
                        <cite>
                            <img src="assets/img/brandonpic.jpeg" width="200px" height="200px"> Brandon Gatlin
                        </cite>

                    </div>

                </div>

            </div>
        </section>
    </div>

    <% include ../partials/footer %>

        <% include ../view_scripts/req %>

</body>

</html>