<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="login" name="login" method="post" action="login">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Login" />
    </form>

    <div class="container">

        <div class="jumbotron text-center">
    
            <p>Login or Register with:</p>
    
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        </div>
    
    </div>
 
</body>
 
</html>