<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <title>Plan yo trip</title>
</head>

<body>
    <header>

        <html lang="en" class="full-height">

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#">
                <strong>Local Time</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="view intro-2" style="">
            <div class="full-bg-img">
                <div class="mask rgba-indigo-light flex-center">
                    <div class="container text-center white-text wow fadeInUp">
                        <h1>Let's plan your trip</h1>
                        <br>
                        <br>
                        <!-- Basic dropdown -->
                        <div class="btn-group">
                            <button class="btn btn-orange lighten-1 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Start Date</button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>


                        <!-- Basic dropdown -->
                        <div class="btn-group">
                            <button class="btn btn-orange lighten-1 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">End Date</button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>

                        <!-- Material form row -->
                        <form>
                            <!-- Grid row -->
                            <div class="form-row">
                                <!-- Grid column -->
                                <div class="col">
                                    <!-- Material input -->
                                    <div class="md-form">
                                        <input type="text" class="form-control" placeholder="Set your budget">
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="row">
                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body text-center">

                            <!-- Title -->
                            <h4 class="card-title">
                                <strong>Alison Belmont</strong>
                            </h4>

                            <!-- Linkedin -->
                            <a class="px-2 fa-lg li-ic">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="px-2 fa-lg tw-ic">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!-- Dribbble -->
                            <a class="px-2 fa-lg fb-ic">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>

                    </div>
                </div>
                <!-- Card Wider -->

                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body text-center">

                            <!-- Title -->
                            <h4 class="card-title">
                                <strong>Alison Belmont</strong>
                            </h4>



                            <!-- Linkedin -->
                            <a class="px-2 fa-lg li-ic">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="px-2 fa-lg tw-ic">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!-- Dribbble -->
                            <a class="px-2 fa-lg fb-ic">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>

                    </div>
                </div>
                <!-- Card Wider -->

                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body text-center">

                            <!-- Title -->
                            <h4 class="card-title">
                                <strong>Alison Belmont</strong>
                            </h4>



                            <!-- Linkedin -->
                            <a class="px-2 fa-lg li-ic">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="px-2 fa-lg tw-ic">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!-- Dribbble -->
                            <a class="px-2 fa-lg fb-ic">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>

                    </div>
                </div>
                <!-- Card Wider -->

                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body text-center">

                            <!-- Title -->
                            <h4 class="card-title">
                                <strong>Alison Belmont</strong>
                            </h4>



                            <!-- Linkedin -->
                            <a class="px-2 fa-lg li-ic">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <!-- Twitter -->
                            <a class="px-2 fa-lg tw-ic">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!-- Dribbble -->
                            <a class="px-2 fa-lg fb-ic">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Card Wider -->
    </section>

    <section class="row">
        <div class="col-sm-10 offset-sm-1">
            <br>
            <hr>
            <h1>Who do you want to travel with?</h1>
            <a href="">
                <p>or fly solo</p>
            </a>
            <br>
        </div>
    </section>

    <section class="trip-items row">
        <div class="col-sm-10 offset-sm-1">
            <div class="row">
                <div class="col">
                    <!--Carousel Wrapper-->
                    <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
                            <li data-target="#video-carousel-example2" data-slide-to="1"></li>
                            <li data-target="#video-carousel-example2" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!-- First slide -->
                            <div class="carousel-item active">
                                <!--Mask color-->
                                <div class="view">
                                    <!--Video source-->
                                    <video class="video-fluid" autoplay loop>
                                        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                                    </video>
                                    <div class="mask rgba-indigo-light"></div>
                                </div>

                                <!--Caption-->
                                <div class="carousel-caption">
                                    <div class="animated fadeInDown">
                                        <h3 class="h3-responsive">Seattle, WA</h3>
                                        <p>First text</p>
                                    </div>
                                </div>
                                <!--Caption-->
                            </div>
                            <!-- /.First slide -->

                            <!-- Second slide -->
                            <div class="carousel-item">
                                <!--Mask color-->
                                <div class="view">
                                    <!--Video source-->
                                    <video class="video-fluid" autoplay loop>
                                        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                                    </video>
                                    <div class="mask rgba-purple-slight"></div>
                                </div>

                                <!--Caption-->
                                <div class="carousel-caption">
                                    <div class="animated fadeInDown">
                                        <h3 class="h3-responsive">Austin TX</h3>
                                        <p>Secondary text</p>
                                    </div>
                                </div>
                                <!--Caption-->
                            </div>
                            <!-- /.Second slide -->

                            <!-- Third slide -->
                            <div class="carousel-item">
                                <!--Mask color-->
                                <div class="view">
                                    <!--Video source-->
                                    <video class="video-fluid" autoplay loop>
                                        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                                    </video>
                                    <div class="mask rgba-black-strong"></div>
                                </div>

                                <!--Caption-->
                                <div class="carousel-caption">
                                    <div class="animated fadeInDown">
                                        <h3 class="h3-responsive">Miami, FL</h3>
                                        <p>Third text</p>
                                    </div>
                                </div>
                                <!--Caption-->
                            </div>
                            <!-- /.Third slide -->
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--Carousel Wrapper-->
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-10 offset-sm-1">
            <br>
            <h1>Pick a trip or build your own.</h1>
            <br>
            <br>
            <br>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="row">
                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="/assets/img/seattle.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>



                    </div>
                </div>
                <!-- Card Wider -->

                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="/assets/img/nyc.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                </div>
                <!-- Card Wider -->

                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="/assets/img/austin.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>



                    </div>
                </div>
                <!-- Card Wider -->

                <!-- Card Wider -->
                <div class="col">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="/assets/img/miami.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!-- Card Wider -->
    </section>

    <section class="row">
        <div class="col-sm-10 offset-sm-1">
            <br>
            <hr>
            <!-- Default button -->

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-orange lighten-1" data-toggle="modal" data-target="#exampleModal">
                Review your trip
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-mdb-color lighten-2">Save trip</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
        </div>
    </section>

    <!--Footer-->
    <footer class="page-footer font-small special-color pt-4 mt-4">

        <!--Footer Links-->
        <div class="container-fluid text-center text-md-center">
            <div class="row">

                <!--First column-->
                <div class="logo-text col-sm-1 offset-sm-3">
                    <img src="/assets/img/clock.png" alt="">
                </div>
                <div class="col-sm-4">
                    <h1>Local Time</h1>
                </div>
                <!--/.First column-->

            </div>

            <div class="row">
                <div class="team-container col-sm-8 offset-sm-2">
                    <br>
                    <h5 class="text">Our Team</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/addiscasco" target="_blank">Addis</a>
                        </li>
                        <li>
                            <a href="https://github.com/theconnorthomas" target="_blank">Connor</a>
                        </li>
                        <li>
                            <a href="https://github.com/sneha3103" target="_blank">Sneha</a>
                        </li>
                        <li>
                            <a href="https://github.com/Rovch" target="_blank">Wes</a>
                        </li>
                        <li>
                            <a href="https://github.com/wabernathy96" target="_blank">Will</a>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="contact-btn col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-orange lighten-1" data-toggle="modal" data-target="#exampleModal">
                        Contact us
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href=> DJCAT </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <% include ../view_scripts/req %>
    
</body>

</html>