<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

</head>

<body>

    <!-- Main content here -->
    <main>
        <div class="container">
            <section class="view-trips">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>Current Trips</h2>
                        <p>Something to look forward to...</p>
                    </div>
                </div>
            </section>

            <section id="info1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="info-left">
                                <img id="firstImg" src="./assets/img/backpack.jpg">
                                <div class="textImage">
                                    <span>Plan a trip to look forward to and create memories to look back on</span>
                                </div>
                                <div>
                                    <button id="exploreBtn" type="button" class="btn btn-warning">Explore</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-right">
                                <br>
                            </div>
                        </div>
                    </div>
            </section>

            <!-- MODAL-->

            <!-- Central Modal Medium Warning -->
            <div class="modal fade" id="centralModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog modal-notify modal-warning" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <p class="card-title" class="heading lead">Destination</p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>

                        </div>

                        <!--Body-->
                        <div class="modal-body">
                            <div class="text-center">
                                <p>
                                    <ul id="tripInfo" class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <span class="badge badge-warning">Sneha</span>
                                            <span class="badge badge-warning">Wesley</span>
                                            <span class="badge badge-warning">Connor</span>
                                            <span class="badge badge-warning">William</span>
                                            <span class="badge badge-warning">Addis</span>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-dollar" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <div class="md-form">
                                                <textarea id="textarea-char-counter"class="form-control md-textarea" length="120" rows="3"></textarea>
                                                <label for="textarea-char-counter">Type your text</label>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            Let the excitement begin ...
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!-- Central Modal Medium Warning-->

            <section id="info2">
                <div class="container">
                    <h2>Your Adventures</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="info-left">
                                <p>
                                    <!-- Card Wider -->
                                    <div class="card card-cascade wider">

                                        <!-- Card image -->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="./assets/img/backpack.jpg" alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight" type="button" class="btn btn-warning" data-toggle="modal" data-target="#centralModalWarning"></div>
                                            </a>
                                        </div>

                                        <!-- Card content -->
                                        <div class="card-body text-center">

                                            <!-- Title -->
                                            <h4 class="card-title">
                                                <strong>Hawaii</strong>
                                            </h4>
                                            <!-- Subtitle -->
                                            <h5 class="blue-text pb-2">
                                                <strong>Short description of Austin</strong>
                                            </h5>
                                            <!-- Text -->
                                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam. </p>

                                        </div>

                                    </div>
                                    <!-- Card Wider -->

                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="info-right">
                                <p>
                                    <!-- Card Wider -->
                                    <div class="card card-cascade wider">

                                        <!-- Card image -->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="./assets/img/backpack.jpg" alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                        <!-- Card content -->
                                        <div class="card-body text-center">

                                            <!-- Title -->
                                            <h4 class="card-title">
                                                <strong>Austin</strong>
                                            </h4>
                                            <!-- Subtitle -->
                                            <h5 class="blue-text pb-2">
                                                <strong>Short description of Austin</strong>
                                            </h5>
                                            <!-- Text -->
                                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam. </p>

                                        </div>

                                    </div>
                                    <!-- Card Wider -->
                                </p>
                            </div>
                        </div>
                    </div>
            </section>

            <br>

            <section id="pastTrips">
                <div class="container">
                    <h2>Your Memories</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <!-- Card -->
                            <div class="info-left" class="card">

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="card-title">Card title</h4>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>

                                </div>

                            </div>
                            <!-- Card -->
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <!-- Card -->
                            <div class="info-right" class="card">

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="card-title">Card title</h4>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>

                                </div>

                            </div>
                            <!-- Card -->
                        </div>
                    </div>
                </div>
            </section>
            <hr>

            <section id="testimonial">
                <div class="container">

                    <!-- Section: Features v.1 -->
                    <section class="text-center my-5">
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12 col-sm-12">
                                <i class="fa fa-share-square fa-4x orange-text" aria-hidden="true"></i>

                                <h5 class="font-weight-bold my-4">Share your experience</h5>
                                <p class="grey-text mb-md-0 mb-5"> Tell everyone about your memorable experiences.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                    </section>
                    <!-- Section: Features v.1 -->

                </div>
            </section>
    </main>
    
    <% include ../view_scripts/req %>
    <% include ../view_scripts/animation %>
  
   
</body>


</html>