<script>
    $.fn.datetimepicker.Constructor.Default = $.extend({},      $.fn.datetimepicker.Constructor.Default, {
            icons: 
            {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'far fa-arrow-up',
                down: 'far fa-arrow-down',
                previous: 'far fa-chevron-left',
                next: 'far fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            },
            options:
            {
                
            }
        }
    );

    let counter = 1;

    $(
        () => {
            $(`#datetimepicker-start${counter}`).datetimepicker(
                {
                    Default: moment().format('DD MM YYYY hh:mm'),
                    daysOfWeekDisabled: [1, 2, 3, 4],
                    viewMode: 'years'
                }
            );
            $(`#datetimepicker-end${counter}`).datetimepicker(
                {
                    Default: moment().format('DD MM YYYY hh:mm'),
                    daysOfWeekDisabled: [1, 2, 3, 4],
                    viewMode: 'years'
                }
            );
        }
    );

    $('#add-date-btn').click(
        () => {
            counter++;
            $('#date-container').append(`
                <div class="row">
                    <div class="col-sm-6">
                        Start Date ${counter}:
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker-start${counter}" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-start${counter}"/>
                                <div class="input-group-append" data-target="#datetimepicker-start${counter}" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        End Date ${counter}:
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker-end${counter}" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-end${counter}"/>
                                <div class="input-group-append" data-target="#datetimepicker-end${counter}" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `);
            $(`#datetimepicker-start${counter}`).datetimepicker(
                {
                    Default: moment().format('DD MM YYYY hh:mm'),
                    daysOfWeekDisabled: [1, 2, 3, 4],
                    viewMode: 'years'
                }
            );
            $(`#datetimepicker-end${counter}`).datetimepicker(
                {
                    Default: moment().format('DD MM YYYY hh:mm'),
                    daysOfWeekDisabled: [1, 2, 3, 4],
                    viewMode: 'years'
                }
            );
        }
    );

    $('#finish-btn').click(
        () => {
            let dates = $('.datetimepicker-input');

            let datePairs = [];

            for (let i = 0; i < dates.length; i += 2) {
                
                let pair = JSON.stringify(
                    {
                        start: moment(dates[i].value).format('x'),
                        end: moment(dates[i + 1].value).format('x')
                    }
                );

                datePairs.push(pair);
                console.log(datePairs);

                for (let j=0; j < datePairs.length; i++) {
                    let startDate = datePairs[j].start;
                    let endDate = datePairs[j].end;

                    console.log(startDate);
                    console.log(endDate);
                }
            }

            
            

        }
    );
</script>