<h1> USER DASHBOARD </h1>
<div class="row">
    <div class="col-md-12">
        <form action="/logout" method="GET">
            <button type="submit">
                Logout
            </button>
        </form>
    </div>
</div>
    